:root{
  --background-color: #573824;
  --surface-color: #F0E8C2;
  --text-color-primary: #291B1A;
  --text-color-secondary: #573A37;
  --text-color-on-bg: #F0E8C2;
}

body {
  background-image: url(main-image.png);
  backdrop-filter: blur(20px); 
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div{
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #F0E8C2;
  width: 80%;
  border-radius: 30px;
  padding: 40px;
  margin: 80px 80px 0px 80px;
  /* max-width: 400px; */
}

div img {
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 100%;
}

p{
  font-family: "Alice", serif;
  font-size: 16px;
  font-weight: 150%;
  color: var(--text-color-secondary);
}
h1{
  font-family: "Alice", serif;
  font-size: 40px;
  font-weight: 140%;
  color: var(--text-color-primary);
}
h2{
  font-family: "Alice", serif;
  font-size: 24px;
  font-weight: 150%;
  color: var(--text-color-primary);
}
ul{
  color: var(--text-color-secondary);
}
footer p {
  display: flex;
  align-items: center;
  font-family: "Alice", serif;
  font-size: 16px;
  font-weight: 150%;
  color: #F0E8C2;
}